<form method="post" action="{{ path(constant('App\\Controller\\DossierMedicalController::ROUTE_DELETE'), {'id': dossier_medical.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier_medical.id) }}">
    <button class="btn">Delete</button>
</form>
