<form method="post" action="{{ path(constant('App\\Controller\\GreffeController::ROUTE_DELETE'), {'id': greffe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ greffe.id) }}">
    <button class="btn">Delete</button>
</form>
