{% extends 'base.html.twig' %}

{% block title %}Edit Greffe{% endblock %}

{% block body %}
    <h1>Edit Greffe</h1>

    {{ include('greffe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_greffe_index') }}">back to list</a>

    {{ include('greffe/_delete_form.html.twig') }}
{% endblock %}
