{% extends 'base.html.twig' %}

{% block title %}Modifier une greffe{% endblock %}

{% block page_title %}
    Modifier la greffe #{{ greffe.id }}
{% endblock %}

{% block page_action %}
    <div class="buttons">
        <a href="{{ path(constant('App\\Controller\\GreffeController::ROUTE_LIST')) }}" class="button is-light">
            Retour
        </a>

        {{ include('greffe/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block page_content %}

    <section>
        {{ include('greffe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </section>

{% endblock %}