{% extends 'base.html.twig' %}

{% block title %}Edit Greffe{% endblock %}

{% block page_content %}
    <h1>Edit Greffe</h1>

    {{ include('greffe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path(constant('App\\Controller\\GreffeController::ROUTE_LIST')) }}">back to list</a>

    {{ include('greffe/_delete_form.html.twig') }}
{% endblock %}
