{% extends 'base.html.twig' %}

{% block title %}Test Bulma{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container">
        <h1 class="title">Bulma fonctionne !</h1>
        <p class="subtitle">
            Si tu vois cette page stylée, Bulma est actif.
        </p>

        <button class="button is-primary">Bouton Bulma</button>
    </div>
</section>
{% endblock %}