{% extends 'base.html.twig' %}

{% block title %}New Donneur{% endblock %}

{% block body %}
    <h1>Create new Donneur</h1>

    {{ include('donneur/_form.html.twig') }}

    <a href="{{ path(constant('App\\Controller\\DonneurController::ROUTE_LIST')) }}">back to list</a>
{% endblock %}
