{% extends 'base.html.twig' %}

{% block title %}Edit Chirurgien{% endblock %}

{% block body %}
    <h1>Edit Chirurgien</h1>

    {{ include('chirurgien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chirurgien_index') }}">back to list</a>

    {{ include('chirurgien/_delete_form.html.twig') }}
{% endblock %}
