{% extends 'base.html.twig' %}

{% block title %}Edit Chirurgien{% endblock %}

{% block page_content %}
    <h1>Edit Chirurgien</h1>

    {{ include('chirurgien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path(constant('App\\Controller\\ChirurgienController::ROUTE_LIST')) }}">back to list</a>

    {{ include('chirurgien/_delete_form.html.twig') }}
{% endblock %}
