{% extends 'base.html.twig' %}

{% block title %}New Chirurgien{% endblock %}

{% block body %}
    <h1>Create new Chirurgien</h1>

    {{ include('chirurgien/_form.html.twig') }}

    <a href="{{ path(constant('App\\Controller\\ChirurgienController::ROUTE_LIST')) }}">back to list</a>
{% endblock %}
